@font-face {
    font-family: MyriadPro-Regular;
    src: url(fonts/MyriadPro-Regular.otf);
}


*
{
	margin: 0px;
	padding: 0px;
}
.container
{
	width: 100%;

}
.headerWithNavBar
{
	width: 80%;
	margin-left: 10%;
}
.header
{

	height: 100px;
}	
.workArea
{
	font-family: "MyriadPro-Regular";
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	
}

.logo
{
	float: left;
	color: #444444;
	font-size: 29px; 
	margin-top:50px;
	font-family: MyriadPro-Regular;
	cursor: pointer;

}
ul li.itemOfTheMenu
{
	text-decoration-style: none;
	display: inline-block;
	padding: 15px;
	float: right;
	margin-top: 48px;
	color: #888888;
	font-size: 12px;
	font-family: arial;
}

.itemOfTheMenu
{
	cursor: pointer;
	
}
.dropDown
{
	background-color: green;
	display: inline-block;
	position: relative;
	margin-bottom: 20px;
}
.dropDownContent
{
	position: absolute;
	background-color: white;
    min-width: 180px;
    z-index: 1;
    display: none;
    margin-top: 37px;
    margin-left: -42px;
    border: 1px solid #dddddd;
    border-top: 2px solid #606060;
}
.dropDownContent a
{
	color: black;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #e6e6e6;
    width: 73%;
    margin-left: auto;
    margin-right: auto;

}
.dropDownContent a:hover
{
	background-color: grey;

}
.itemOfTheMenu:hover .dropDownContent {
	
	display: block;
}
.navBar
{
	width: 100%;
	height: 300px;
	background-color: #fafafa;
	border-bottom: 2px solid #e0e0e0;
	border-top: 2px solid #e0e0e0;
	position: relative;
}
.chevronLeft
{
	position: absolute;
	float: left;
	margin-top: 10%;
	margin-left: 55px;
	font-size: 25px;
	color: #606060;
}
.chevronRight
{
	position: absolute;
	top: 47%;
	right: 55px;
	font-size: 25px;
	color: #606060;
}
.boxToTheWords
{
	position: relative;
	/*top: 30px;*/
	width: 500px;
	height: 300px;
	/*background-color: pink;*/
}
.wordsInNavBar
{	display: inline-block;
	margin-top: 30px;
	/*margin-left: 20px;*/
	font-size: 22px;
	font-family: "MyriadPro-Regular";
	color: #444444;


}
.smallWordsInNavBar
{
	margin-top: 20px;
	/*margin-left: 20px;*/
	font-size: 14px;
	font-family: arial;
	color: #777777;
}
.BtnOfNavBar
{
	width: 90px;
	height: 30px;
	border: 1px solid #e6bd4c;
	margin-top: 30px;
	background: linear-gradient(#fadd92, #fccd75);
	font-size: 14px;
	font-weight: bold;
	font-family: arial;
	color: #754c00;
}
.containsCustimization
{
	width: 100%;
	height: 95px;
	/*background-color: yellow;*/
	margin-top: 50px;
}
.custimization
{
	width: 347px;
	height: 100%;
	/*background-color: lightblue;*/
	display: inline-block;
	margin-right: 15px;
}
.custimization:last-child
{
	margin-right: 0px;
}
.title
{
	font-weight: bold;
	font-family: "Myriad Pro";
	font-size: 16px;
	color: #444444;
}
.aboutCustimization
{
	font-family: "tahoma";
	font-size: 12px;
	color: #606060;
}
.sign
{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: #606060;
}
.sign
{
	text-align: center;
    line-height: 28px;
    color: white;
}
.sign:hover
{
	background-color: #2da0ce;
	transition: 500ms;
}
.fontAwesome
{
	float: left;
	padding-right: 5px;
	height: 60px;
}
.recentWork
{
	color: #444444;
	border-bottom: 1px solid #444444;
	font-size: 16px;
	font-family: "Myriad Pro";
}
.containImages
{
	width: 100%;
	height: 300px
	border: 1px solid black;
}
.item
{
	/*border:1px solid grey;*/
	width: 244px;
	height: 250px;
	display: inline-block;
	margin-right: 23px;
	margin-top: 15px;
	margin-bottom: 15px;
	position: relative;
}


/*.itemImg:hover .workIcon {
	display: inline;
	background-color: pink;
}
*/
.itemImg
{
	width: 100%;
	height: 140px;
	position: relative;
}
.workIcon
{
	position: absolute;
	left: 50%;
	top: 29%;
	display: none;

}
.backGroundHover {
	position: absolute;
	width: 100%;
	height: 140px;
	top:0;
	right: 0;
	bottom: 0;
	left: 0;

	opacity: 0;
	background-color: gray;
}

.item:hover .backGroundHover {
	opacity: 0.9;
}
.item:hover .workIcon {
	display: block;
}
.itemImg:hover {
	/*position: absolute;*/
	background: #CCC;
	opacity: .6;
}
img[src="icescream.png"]:hover .plusImg 
{
	position: absolute;
	display: block;
}
.titleOfImage
{
	font-family: arial;
	font-size: 12px;
	font-weight: bold;
	border-bottom: 1px solid #e7e7e7;
	padding: 15px;
	padding-left: 0px;
	color: #444444;
}
.wordsOfImage
{
	font-family: tahoma;
	font-size: 12px;
	padding: 10px;
	padding-left: 0px;
	padding-right: 0px;
	color: #606060;
}
.item:last-child {
   margin-right: 0px;
}
.perfect
{
	width: 100%;
	height: 90px;
	border: 1px solid #e4e4e4;
	background: linear-gradient(#fafafa, #fdfdfd);
}
.titleOfPerfect
{
	font-family: "Myriad Pro";
	font-size: 16px;
	font-weight: bold;
	padding-top: 15px;
	margin-left: 10px;
	display: inline-block;
}
.aboutPerfect
{
	padding-top: 10px;
	font-family: arial;
	font-size: 12px;
	margin-left: 10px;
	display: inline-block;
}
.getBtn
{
	width: 190px;
	height: 50px;
	float: right;
	margin-right: 10px;
	margin-top: -10px;
	background: linear-gradient(#fadd92, #fccd75);
	border: 1px solid #e6bd4c;
	color: #754c00;
	font-weight: bold;
	font-family: arial;
	font-size: 14px;
}
.ourClients
{
	font-weight: bold;
	font-family: "Myriad Pro";
	font-size: 16px;
	color: #575757;
	border-bottom: 1px solid #e7e7e7;
	margin-top: 35px;
	padding-bottom: 10px;
}
.inOurClients
{
	width: 100%;
	height: 120px;
	border: 1px solid #e7e7e7;
	margin-top: 20px;
}
img[src="client.png"]
{
	width: 19%;
	height: 120px;
	
}
.imgList
{
	display: inline;
	margin: 0px;
	padding: 0px;
	border: 1px solid #e7e7e7;
	margin-right: 7.5px;
}
.imgList:last-child
{
	margin-right: 0px;
}
.footer
{
	width: 100%;
	height: 300px !important;
	background-color: #383838;
	margin-top: 30px;
}
.insideFooter
{
	width: 100%;
	height: 90%;
}
.squareInFooter
{
	display: inline-block;
	width: 22%;
	height: 100%;
	margin-right: 10px;
	position: relative;
	float: left;
}
.squareInFooter:last-child
{
	float: right;
}
.aboutUs
{
	font-family: "Myriad Pro";
	font-size: 14px;
	margin-bottom: 15px;
	border-bottom: 1px solid #444444;
	padding-top: 20px;
	color: white;
}
.wordsAboutUs
{
	color: #949494;
	font-family: Arial;
	font-size: 12px;
	margin-bottom: 23px;
	margin-left: 21px;
}
.wordsAbout  /*this for about us title in the footer*/ 
{
	color: #949494;
	font-family: Arial;
	font-size: 12px;
	margin-bottom: 23px;
}
.fotlink
{
	color: #949494;
	font-family: Arial;
	font-size: 12px;
	text-decoration: none;
	line-height: 22px;
}
ul li.fotlink
{
	line-height: 22px;
	border-bottom: 1px solid #444444;
	list-style-type: none;
	padding-bottom: 5px; 
}
ul li.fotlink:last:child
{
	border-bottom: none;
}
.arrowRight
{
	font-size: 9px;
    color: #606060;
}
.containBlogImg
{
	width: 100%;
	height: 70px;
}
.blogImg
{
	float: left;
	display: inline-block;
	width: 60px;
	height: 60px;
	border: 2px solid #494949;
	background-color: #ebebeb;

}
.lastFooter
{
	width: 100%;
	height: 75px;
	background-color: #2c2c2c;
	line-height: 75px;
	color: #444444;
	font-size: 12px;
	font-family: arial;
}
.socialMedia
{
	color: #444444;
	display: inline;
	float: right;
	line-height: 30px;
	padding: 20px;
	text-decoration: none;
	font-size: 15px;
}
.justTwitter
{
	color: #606060;
	float: left;
}

.blogText {
	float: left;
	width: 153px;
    height: 64px;
}
.containBlogImg .date {
	font-family: "Myriad Pro";
	color: white;
	font-size: 11px;
    float: left;
    margin-left: 21px;
    margin-top: -19px;
}